In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df_train = pd.read_csv('C:/Users/srija/Documents/DS_Job_Salary_Predictor/data/data_preprocess.csv')

In [3]:
df_train.head()

,Easy Apply,avg_salary,python_yn,R_yn,spark,aws,excel,age of company,num_comp,Size_10000+ employees,Size_1001 to 5000 employees,Size_201 to 500 employees,Size_5001 to 10000 employees,Size_501 to 1000 employees,Size_51 to 200 employees,Revenue_$100 to $500 million (USD),Revenue_Unknown / Non-Applicable,Type of ownership_Company - Public,Type of ownership_Subsidiary or Business Segment,Industry_Enterprise Software & Network Solutions,Industry_Insurance Carriers,Sector_Information Technology,Sector_Insurance,Job Title simp_data engineer,Job Title simp_data scientist,Job Seniority_manager,Job Seniority_na,Job Seniority_senior,job_state_MA,job_state_NY,job_headquarters_ MA,job_headquarters_ NY
0,0,120.5,1,0,0,0,0,7,0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0
1,1,73.0,0,0,0,0,0,11,3,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1,143.5,1,0,0,0,1,2024,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
3,1,129.5,1,0,1,1,1,172,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,1,0
4,0,73.0,0,0,0,0,0,11,3,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0

In [4]:
from sklearn.model_selection import train_test_split

X = df_train.drop('avg_salary', axis =1)
y = df_train.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 3))

-22.401428571428568

In [6]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [7]:
y_pred = rf.predict(X_test)

In [8]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

13.865909090909092